@using Prime.Models
@model AccessTerm

@{
  var userClauseClause = Model.UserClause.Clause;
  var limitsAndConditions = Model.LimitsConditionsClause?.Clause;
  @* var licenceClassClauses = Model.LicenseClassClauses.Select(lcc => lcc.Clause); *@
  var lcStartIndex = (Model.UserClause.EnrolleeClassification == "RU") ? 14 : 11;
}

@Html.Raw(userClauseClause)

@if(!string.IsNullOrEmpty(limitsAndConditions))
{
  @if(Model.UserClause.EnrolleeClassification == "RU")
  {
    <ol start="14">
      <li>
        <p class="bold underline">Additional Clauses that Apply to You</p>
        <p>@Html.Raw(limitsAndConditions)</p>
      </li>
    </ol>
  }
  else
  {
    <p class="bold underline">Additional Clauses that Apply to You</p>

    <ol start="11">
      <li>
        @Html.Raw(limitsAndConditions)
      </li>
    </ol>
  }
}

@* @if(licenceClassClauses.Any())
{
  <li>
    <p class="bold underline">Licence Class Clauses</p>
    @foreach(var licenceClassClause in licenceClassClauses)
    {
      <p>@Html.Raw(licenceClassClause)</p>
    }
  </li>
} *@
